<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.cem.echo"
      version="0.1.0">
    <name>Echo</name>
    <description>Sample PhoneGap Echo Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,echo</keywords>
 
 
    <js-module src="www/echo.js" name="Echo">
        <clobbers target="window.echo" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="com.cem.echo.Echo"/>
            </feature>
        </config-file>
 
        <source-file src="src/com/cem/echo/Echo.java" target-dir="src/com/cem/echo" />      
		<source-file src="src/libs/akiscif-2.5.0.jar" target-dir="libs" />   
		<source-file src="src/libs/android-support-v4.jar" target-dir="libs" />   
		<source-file src="src/libs/asn1rt-6.6.4.jar" target-dir="libs" />   
		<source-file src="src/libs/ccid-1.1.5.jar" target-dir="libs" />   
		<source-file src="src/libs/jcifs-1.3.1.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-asn-2.1.2.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-certstore-2.1.2.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-cmssignature-2.1.2.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-common-2.1.2.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-crypto-2.1.2.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-crypto-gnuprovider-2.1.2.jar" target-dir="libs" />   
		<source-file src="src/libs/ma3api-infra-2.1.2.jar" target-dir="libs" />    
		<source-file src="src/libs/ma3api-signature-2.1.2.jar" target-dir="libs" />    
		<source-file src="src/libs/ma3api-smartcard-2.1.2.jar" target-dir="libs" />    
		<source-file src="src/libs/ma3api-smartcard-android-2.1.2.jar" target-dir="libs" />    
		<source-file src="src/libs/ma3api-smartcard-android-ccid-2.1.2.jar" target-dir="libs" />    
		<source-file src="src/libs/slf4j-api-1.6.6.jar" target-dir="libs" />    
		<source-file src="src/libs/sunpkcs11.jar" target-dir="libs" />     
     </platform>          
</plugin>